.billboard {
	background: url('./bg-billboard.jpg') no-repeat center;

	&-title {
		text-align: left;

		&-sub {
			font-size: 20px;
			letter-spacing: 6px;
			line-height: 30px
		}

		&-big {
			font-size: 60px;
			letter-spacing: 5px;
			font-weight: 300;
		}
	}
}
