@import "custom";
.App {
	text-align: center;
	min-height: 100vh;
	padding-bottom: 120px;
	position: relative;
	.main-nav {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 13px;
		color: white;
	}
	.bg-settings {

	}
}
