/* The following block can be included in a custom.scss */
/*
body {
  margin: 0; // 1
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* make the customizations */

$body-bg: #fff;
$theme-colors: (
	//"primary": $color2,
	//"secondary": $secondary,
	//"success": $success,
	//"info": tomato,
	//"warning": $warning,
	//"danger": teal,
	//"light": $light,
	//"dark": $color1
);

$font-family-base: 'Source Sans Pro', sans-serif;
$font-weight-base: 400;
$headings-font-weight: 400;
$body-color: #fff;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
